body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.App {
  text-align: center;
  background: url('./assets/images/cloudy-foggy-forest-8781.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.App-header {
  background-color: rgba(34, 34, 34, .4);
  height: 100%;
  padding: 0.1px;
  color: white;
}

.App-title {
  margin-top: 30vh;
  font-size: 3.5em;
  font-weight: 800;
}

.glass {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 0%;
  background: url('./assets/images/logo-1024x1024.png');
  background-size: cover;
  border: 0px solid #fff;
  overflow: hidden;
  animation: animate linear 8s infinite;
}

@keyframes animate {
  0%{
    transform: translate(-50%, -50%) skewY(5deg);
  }
  50%{
    transform: translate(-50%, -50%) skewY(-5deg);
  }
  100%{
    transform: translate(-50%, -50%) skewY(5deg);
  }
}

.badges {
  margin-top: 10vh;
}

.badges img {
  width: 200px;
}